
.contact-container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  
}
#cont{
    color: blue;
    text-align: center;
}

#status{
    color:green;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
